:root {
  --driver-color-dark: #661c00;
  --driver-color: #ff4500;
  --driver-color-slight: #ff6a33;
  --driver-color-slightest: #ff7d4d;
  --rider-color-dark: #062a30;
  --rider-color: #17a2b8;
  --rider-color-slight: #1cc2dd;
  --rider-color-slightest: #29cbe4;
}

.menu {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50%;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 25%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border-radius: 10px;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  padding: 5px;
  background-color: #ffffff;
  font-size: x-large;
  display: inline-block;
}

.bar {
  display: grid;
  grid-template-columns: 50% 50;
  grid-gap: 50%;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 25%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-driver {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 15vw;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--driver-color-dark);
}

.navbar-rider {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 15vw;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--rider-color-dark);
}

.navtext {
  font-size: 3vh;
  color: white;
}

.item {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  width: auto;
  height: auto;
  background: grey;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 75px;
}
.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
  margin: 0;
}
.start {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.account-option-drivers tr,
.account-option-riders tr {
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  padding: 10px;
  background-color: white;
}

.account-option-drivers td,
.account-option-riders td {
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  padding: 10px;
  background-color: white;
}

.account-option-drivers td:hover {
  cursor: pointer;
  background-color: var(--driver-color-slight);
  border: 2px solid var(--driver-color-slight);
}

.account-option-riders td:hover {
  cursor: pointer;
  background-color: var(--rider-color-slight);
  border: 2px solid var(--rider-color-slight);
}

.input-box {
  border-radius: 10px;
}

.mychoice:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mychoice div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mychoice input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mychoice input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 10%;
  z-index: 9;
}

.form-container {
  min-width: 75vw;
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="location"],
.form-container input[type="date"] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: calc(10px + 2vmin);
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="location"],
.form-container input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: lightgray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}

.userbtn {
  background-color: #04aa6d;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}

.accounttoggleon {
  background-color: #04aa6d;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}
.accounttoggleoff {
  background-color: #aa0404;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.account-page {
  display: flex;
  width: 100vw;
  height: 88vh;
}

.account-page-sidebar {
  padding: 10px;
  flex: 0 0 15%;
  display: grid;
  grid-template-rows: 30% 10% 10% 10%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: var(--rider-color-dark);
  height: 87.8vh;
}

.InstructForm {
  display: grid;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  grid-template-columns: 1fr;
}

.InstructForm textarea {
  border-radius: 8px;
  height: 100px;
  width: 90%;
  resize: none;
  overflow: auto;
  outline: 0;
  padding: 8px 8px;
  border: 1px solid rgb(219, 213, 213);
}

.InstructForm label,
.InstructForm input,
.InstructForm button {
  width: 100%; /* Full width elements */
  max-width: 300px; /* Max width for elements */
  text-align: center; /* Center text inside elements */
}

.account-page-sidebar-driver {
  padding: 10px;
  flex: 0 0 15%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: var(--driver-color-dark);
  height: 87.8vh;
}
.account-page-main {
  padding: 10px;
  flex: 1;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  justify-content: center;
}

.button-select {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.button-select::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.button-select:hover::after {
  transform: scale(4);
}

.button-select:hover {
  border-color: #666666;
  background: #292929;
}

.infotable,
.infotable tr,
.infotable td,
.infotable th {
  width: auto;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: white;
}

.infotable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #666666;
}

.infotable td {
  padding: 8px;
  text-align: center;
  background-color: white;
}

.account-table {
  border-spacing: 5vh;
}

.review-form-popup {
  display: none;
  position: fixed;
  bottom: 40%;
  right: 15%;
  z-index: 9;
}

.review-form-container {
  min-width: 50vw;
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  /* place header and textarea in center of popup */
  text-align: center;
  margin: 10px;
}

/* Full-width input fields */
.review-form-container input[type="text"],
.review-form-container input[type="location"],
.review-form-container input[type="date"] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: calc(10px + 2vmin);
}

/* When the inputs get focus, do something */
.review-form-container input[type="text"]:focus,
.review-form-container input[type="location"],
.review-form-container input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.review-form-container .btn {
  background-color: #04aa6d;
  color: lightgray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.review-form-container .cancel {
  background-color: red;
}

.review-box {
  /* make textarea half the width of the popup */
  width: 75%;
  height: 10vh;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: calc(10px + 2vmin);
  resize: none;
  min-height: 3em;
  max-height: 10em;
}

.ride-Info-Page {
  width: 80vw;
  height: 87vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  background-color: white;
  align-items: center;
  justify-content: flex-start;
}

.ride-Info-Page-title {
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

.ride-Info-Page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 10px;
}
