.menu {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50%;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 25%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  display: grid;
  grid-template-columns: 50% 50;
  grid-gap: 50%;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 25%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 33%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 55%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.navtext {
  font-size: 3vh;
  color: white;
}

.item {
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  width: auto;
  height: auto;
  background: grey;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 75px;
}
.App {
  min-height: 100vh;
  background-color: #282c34;
}

.start {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table,
th,
tr {
  border: 1px solid black;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 10%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  min-width: 75vw;
  padding: 10px;
  background-color: lightgray;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="location"],
.form-container input[type="date"] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: calc(10px + 2vmin);
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="location"],
.form-container input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: lightgray;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
}

.userbtn {
  background-color: #04aa6d;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
}

.accounttoggleon {
  background-color: #04aa6d;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
}
.accounttoggleoff {
  background-color: #aa0404;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-right: 1vw;
  font-size: calc(10px + 2vmin);
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.account-page {
  display: flex;
  width: 100vw;
  height: 88vh;
}

.account-page-sidebar {
  padding: 10px;
  flex: 0 0 15%;
  background-color: aqua;
  display: grid;
  grid-template-rows: 20% 20% 20% 20%;
  justify-content: center;
}
.account-page-main {
  padding: 10px;
  flex: 1;
  background-color: cornflowerblue;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  justify-content: center;
}
